<!DOCTYPE html>
<html>
  <head>
    <title>PaymentSdkDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= yield :javascript %>
  </body>
</html>
